.logo-min-g {
    width: 30px;
    object-fit: contain;
    height: 30px;
  }
  
  .logo-lg-img {
    height: 40px;
    width: 80px;
  }

  .lblUserName {
    color: #FFF;
    justify-content: center;
    align-items: center;
    display: flex;
  }