<div class="reset-password-pages">
  <div class="row">
    <div class="col-md-4  reset-password-logo-section">
      <div class="reset-password-form-box box">
        <div class="reset-password-header">
          <img class="header-logo" src="{{logoPath}}" alt="Please wait..." />
        </div>
        <div class="reset-password-title">
          {{'resetPassword.title' | translate}}
        </div>
        <form [formGroup]="resetPasswordForm" role="form" novalidate (ngSubmit)="onSubmit()">
          <div class="form-content">
            <div class="form-group">
              <input type="number" class="form-control" id="recoveryCode"
                placeholder="{{'resetPassword.recoveryCodePlaceholder' | translate}}" name="recoveryCode"
                formControlName="recoveryCode" trim="blur" />
              <app-validation-message [control]="resetPasswordForm.controls['recoveryCode']"
                [messages]="messageList.recoveryCode">
              </app-validation-message>
            </div>
            <div class="form-group">
              <input [type]="eyeShow ? 'text' : 'password'" class="form-control" id="password"
                placeholder="{{'resetPassword.passwordPlaceholder' | translate}}" name="password"
                formControlName="password" trim="blur" />
              <span>
                <i class="fa field-icon" [ngClass]="{
                                          'fa-eye-slash': !eyeShow,
                                          'fa-eye': eyeShow
                                        }" (click)="onToggleEyeShow()"></i>
              </span>
              <app-validation-message [control]="resetPasswordForm.controls['password']"
                [messages]="messageList.password">
              </app-validation-message>
            </div>
            <div class="form-group">
              <input [type]="confirmEyeShow ? 'text' : 'password'" class="form-control" id="confirmPassword"
                placeholder="{{'resetPassword.confirmPasswordPlaceholder' | translate}}" name="confirmPassword"
                formControlName="confirmPassword" trim="blur" />
              <span>
                <i class="fa field-icon" [ngClass]="{
                                                        'fa-eye-slash': !confirmEyeShow,
                                                        'fa-eye': confirmEyeShow
                                                      }" (click)="onToggleEyeShowConfirm()"></i>
              </span>
              <app-validation-message [control]="resetPasswordForm.controls['confirmPassword']"
                [messages]="messageList.confirmPassword">
              </app-validation-message>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-style btn-success">{{'resetPassword.submitBtn' | translate}}</button>
              <button type="button" class="btn btn-style btn-success ml-3"
                (click)="onBackToLogin()">{{'resetPassword.backToLoginBtn' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>