<div class="forgot-password-pages">
  <div class="row">
    <div class="col-md-4  forgot-password-logo-section">
      <div class="forgot-password-form-box box">
        <div class="forgot-password-header">
          <img
            class="header-logo"
            src="{{logoPath}}"
            alt="Please wait..."
          />
        </div>
        <div class="forgot-password-title">
          {{'forgotPassword.title' | translate}}
        </div>
        <form
          [formGroup]="forgotpasswordForm"
          role="form"
          novalidate
          (ngSubmit)="onSubmit()"
        >
          <div class="form-content">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="email"
                placeholder="{{'forgotPassword.emailPlaceholder' | translate}}"
                name="email"
                formControlName="email"
                trim="blur"
              />
              <app-validation-message
                [control]="forgotpasswordForm.controls['email']"
                [messages]="messageList.email"
              >
              </app-validation-message>

            </div>
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-style btn-success"
              >{{'forgotPassword.submitBtn' | translate}}</button>
              <button
                type="button"
                class="btn btn-style btn-success ml-3"
                (click)="onBackToLogin()"
              >{{'forgotPassword.backToLoginBtn' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
