.detail {
  padding: 12px;
}

.div-padding {
  padding: 0;
}

.image-display {
  display: contents;
}

.detail-title {
  border-bottom: 2px solid #ccc;
}

.see-all {
  float: right;
  cursor: pointer;
   text-decoration: underline;
}
img {
    height: 100px;
    width: 100px;
    margin-left: 20px;
}
.reviewTitle{
   text-decoration: underline;
}