.column-image {
  float: left;
  width: 5%;
}

.column {
  float: left;
  width: 100%;
}

.review-row {
  margin: 0;
  padding: 10px;
}

.review {
  margin: 10px 0;
  padding: 0;
}

.star {
  padding: 3px 0 0 5px;
}

.rating-start {
  line-height: 1.2;
}