.form-group {
  .logo-group {
    // border: solid 1px #d2d6de;
    display: inline-block;
    padding: 15px 15px !important;
    margin-bottom: 25px;
    position: relative;
    margin-left: 10px;
  }
}

.upc-code-wrap {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;

  .upc-code-list {
    box-shadow: 0 0 0 1px #000;
    word-wrap: wrap;
    text-align: center;
    line-height: 2;
  }
}
.titleSpn {
  font-size: 28px;
  font-weight: bold;
}
.indicationText {
  margin-top: -8px !important;
  margin-left: 10px !important;
}
.indication {
  height: 10px !important;
  width: 10px !important;
  background-color: red;
}
.closeIcon {
  float: right;
}
