.profile-users {
  margin-right: 2%;
}

.profile-name {
  font-size: 1rem;
  color: #fff;
  font-family: ''Helvetica Neue' Helvetica, Arial, sans-serif !important';
  cursor: pointer;

  &:first-child {
    padding-right: 12px;
  }

  a {
    font-size: 1rem;
    color: #fff;
    font-family: ''Helvetica Neue' Helvetica, Arial, sans-serif !important';
  }
}

.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
  text-align: center;
}



.profile-image {
  width: 25px;
  object-fit: contain;
  height: 25px;
  border-radius: 2rem;
}

.bedge {
  margin-right: 25px;
  text-align: center;
  font-size: 12px;
  height: 20px;
  width: 20px;
  color: black;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.sidebar-collapse .sidebar-menu.menuHover {
  overflow: visible !important;

  li.mm-active {
    width: 230px !important;

    span.labelMenu {
      display: inline !important;
      top: 0;
      margin-left: -3px;
      padding: 12px 5px 12px 20px;
      background-color: inherit;
      text-indent: 10px;
    }

  }

  li.mm-active:hover {
    a {
      span.labelMenu {
        padding: 12px 5px 12px 5px;
      }
    }
  }

}

.sidebar-collapse .metismenu {
  overflow: visible !important;

  li:hover {
    width: 230px;
  }

  .menu1.mm-active {
    width: 230px;

    span.labelMenu {
      display: inline !important;
      top: 0;
      margin-left: -3px;
      padding: 12px 5px 12px 20px;
      background-color: inherit;
      text-indent: 10px;
    }
  }

  .menu1.mm-active:hover {
    a {
      span.labelMenu {
        padding: 12px 5px 12px 5px;
      }
    }
  }
}

span.bedge {
  text-indent: 0%;
}

.btn-success {
  background-color: #00a65a;
  border-color: #00a65a;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
  color: #fff;
  background-color: #00a65a;
  border-color: #00a65a;
}

.pointer {
  cursor: pointer;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #333;
  text-decoration: none;
  background-color: transparent;
}
